# Circleci config
version: 2.1
jobs:
  FHEO-acceptance-tests: ## These are for dark environment
    machine:
      image: ubuntu-2004:202101-01 # # recommended linux image - includes Ubuntu 20.04, docker-compose 1.27.4
    steps:
      - run:
          name: "install NPM"
          command: |
                    $sudo npm install -g npm@latest > /dev/null 2>&1 || \
                    npm install -g npm@latest > /dev/null 2<&1
                    npm config -g delete ca
                    $SUDO npm install -g newman
      - checkout
      - run:
          name: "checkout and run tests"
          command: |
                    newman run "formservice/collections/FHEOFormService.postman_collection.json" -e "formservice/environments/EnvironmentVar.postman_environment.json" -d "formservice/data/FHEO-Service-TestData.csv"
  FHEO-uitests-Set1:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run:
          name: ""
          no_output_timeout: 120m
          command: |
                    mvn clean webdriverextensions:install-drivers test-compile test allure:report -DargLine="-Dlocal=false -Dbrowser=Chrome -Dbrowser_version='latest' -Dos='Windows' -Dos_version='10' -Dstage='FHEORegressionSet1' -DcheckAccessibility=false -Denv='fheodark'"
      - store_artifacts:
           path: /home/circleci/project/target/allure-reports
  FHEO-uitests-Set2:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run:
          name: ""
          no_output_timeout: 120m
          command: |
                    mvn clean webdriverextensions:install-drivers test-compile test allure:report -DargLine="-Dlocal=false -Dbrowser=Edge -Dbrowser_version='latest' -Dos='Windows' -Dos_version='10' -Dstage='FHEORegressionSet2' -DcheckAccessibility=false -Denv='fheodark'"
      - store_artifacts:
           path: /home/circleci/project/target/allure-reports
  FHEO-uitests-Set3:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run:
          name: ""
          no_output_timeout: 120m
          command: |
                    mvn clean webdriverextensions:install-drivers test-compile test allure:report -DargLine="-Dlocal=false -Dbrowser=Safari -Dbrowser_version='latest' -Dos='OS X' -Dos_version='Big Sur' -Dstage='FHEORegressionSet3' -DcheckAccessibility=false -Denv='fheodark'"
      - store_artifacts:
           path: /home/circleci/project/target/allure-reports
  FHEO-uitests-Set4:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run:
          name: ""
          no_output_timeout: 120m
          command: |
                    mvn clean webdriverextensions:install-drivers test-compile test allure:report -DargLine="-Dlocal=false -Dbrowser=Chrome -Dbrowser_version='latest' -Dos='Windows' -Dos_version='10' -Dstage='FHEORegressionSet4' -DcheckAccessibility=false -Denv='fheodark'"
      - store_artifacts:
           path: /home/circleci/project/target/allure-reports
  FHEO-ErrSpecs:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run:
          name: ""
          command: |
                    mvn clean webdriverextensions:install-drivers test-compile test allure:report -DargLine="-Dlocal=false -Dbrowser=Chrome -Dbrowser_version='latest' -Dos='Windows' -Dos_version='10' -Dstage='FHEORegressionErrSpec' -DcheckAccessibility=false -Denv='fheodark'"
      - store_artifacts:
           path: /home/circleci/project/target/allure-reports
  FHEO-508Specs:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run:
          name: ""
          command: |
            mvn clean webdriverextensions:install-drivers test-compile test allure:report -DargLine="-Dlocal=false -Dbrowser=Chrome -Dbrowser_version='latest' -Dos='Windows' -Dos_version='10' -Dstage='FHEORegression508Test' -DcheckAccessibility=true -Denv='fheodark'"
      - store_artifacts:
          path: /home/circleci/project/target/allure-reports
  FHEO-acceptance-test: ## These are for dev environment
    machine:
      image: ubuntu-2004:202101-01 # # recommended linux image - includes Ubuntu 20.04, docker-compose 1.27.4
    steps:
      - run:
          name: "install NPM"
          command: |
            $sudo npm install -g npm@latest > /dev/null 2>&1 || \
            npm install -g npm@latest > /dev/null 2<&1
            npm config -g delete ca
            $SUDO npm install -g newman
      - checkout
      - run:
          name: "checkout and run tests"
          command: |
            newman run "formservice/collections/FHEOFormService.postman_collection.json" -e "formservice/environments/EnvironmentVar.postman_environment.json" -d "formservice/data/FHEO-Service-TestData.csv"
  FHEO-uitest-Set1:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run:
          name: ""
          no_output_timeout: 120m
          command: |
            mvn clean webdriverextensions:install-drivers test-compile test allure:report -DargLine="-Dlocal=false -Dbrowser=Chrome -Dbrowser_version='latest' -Dos='Windows' -Dos_version='10' -Dstage='FHEORegressionSet1' -DcheckAccessibility=false -Denv='fheodev'"
      - store_artifacts:
           path: /home/circleci/project/target/allure-reports
  FHEO-uitest-Set2:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run:
          name: ""
          no_output_timeout: 120m
          command: |
            mvn clean webdriverextensions:install-drivers test-compile test allure:report -DargLine="-Dlocal=false -Dbrowser=Edge -Dbrowser_version='latest' -Dos='Windows' -Dos_version='10' -Dstage='FHEORegressionSet2' -DcheckAccessibility=false -Denv='fheodev'"
      - store_artifacts:
           path: /home/circleci/project/target/allure-reports
  FHEO-uitest-Set3:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run:
          name: ""
          no_output_timeout: 120m
          command: |
            mvn clean webdriverextensions:install-drivers test-compile test allure:report -DargLine="-Dlocal=false -Dbrowser=Safari -Dbrowser_version='latest' -Dos='OS X' -Dos_version='Big Sur' -Dstage='FHEORegressionSet3' -DcheckAccessibility=false -Denv='fheodev'"
      - store_artifacts:
           path: /home/circleci/project/target/allure-reports
  FHEO-uitest-Set4:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run:
          name: ""
          no_output_timeout: 120m
          command: |
            mvn clean webdriverextensions:install-drivers test-compile test allure:report -DargLine="-Dlocal=false -Dbrowser=Chrome -Dbrowser_version='latest' -Dos='Windows' -Dos_version='10' -Dstage='FHEORegressionSet4' -DcheckAccessibility=false -Denv='fheodev'"
      - store_artifacts:
           path: /home/circleci/project/target/allure-reports
  FHEO-ErrSpec:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run:
          name: ""
          command: |
            mvn clean webdriverextensions:install-drivers test-compile test allure:report -DargLine="-Dlocal=false -Dbrowser=Chrome -Dbrowser_version='latest' -Dos='Windows' -Dos_version='10' -Dstage='FHEORegressionErrSpec' -DcheckAccessibility=false -Denv='fheodev'"
      - store_artifacts:
           path: /home/circleci/project/target/allure-reports
  FHEO-508Spec:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run:
          name: ""
          command: |
            mvn clean webdriverextensions:install-drivers test-compile test allure:report -DargLine="-Dlocal=false -Dbrowser=Chrome -Dbrowser_version='latest' -Dos='Windows' -Dos_version='10' -Dstage='FHEORegression508Test' -DcheckAccessibility=true -Denv='fheodev'"
      - store_artifacts:
          path: /home/circleci/project/target/allure-reports

workflows:
  build:
    jobs:
      - FHEO-acceptance-tests
      - FHEO-ErrSpecs
      - FHEO-508Specs:
          requires:
            - FHEO-ErrSpecs
      - FHEO-uitests-Set1:
          requires:
            - FHEO-508Specs
      - FHEO-uitests-Set2:
          requires:
            - FHEO-ErrSpecs
      - FHEO-uitests-Set3:
          requires:
            - FHEO-ErrSpecs
      - FHEO-uitests-Set4:
          requires:
            - FHEO-uitests-Set1
      - FHEO-acceptance-test
      - FHEO-ErrSpec
      - FHEO-508Spec:
          requires:
            - FHEO-ErrSpec
      - FHEO-uitest-Set1:
          requires:
            - FHEO-ErrSpec
      - FHEO-uitest-Set2:
          requires:
            - FHEO-ErrSpec
      - FHEO-uitest-Set3:
          requires:
            - FHEO-508Spec
      - FHEO-uitest-Set4:
          requires:
            - FHEO-uitest-Set1


