# Circleci config
version: 2.1
jobs:
  SmokeTest: ## These are for dark environment
    machine:
      image: ubuntu-2004:202101-01 # # recommended linux image - includes Ubuntu 20.04, docker-compose 1.27.4
    steps:
      - run:
          name: "install NPM"
          command: |
                    $sudo npm install -g npm@latest > /dev/null 2>&1 || \
                    npm install -g npm@latest > /dev/null 2<&1
                    npm config -g delete ca
                    $SUDO npm install -g newman
      - run:
          name: "install NPM"
          command: |
                    curl https://portal-test.forms.gov/status
                    curl https://submission-test.forms.gov/status
      - checkout
      - run:
          name: "checkout and run tests"
          command: |
                    newman run "formservice/collections/SmokeTest.json" --folder Dev
                    newman run "formservice/collections/SmokeTest.json" --folder Test
                    newman run "formservice/collections/SmokeTest.json" --folder Prod
      
workflows:
  build:
    jobs:
    - SmokeTest
##
##  nightly:
##    triggers:
##      - schedule:
          # The cron format is:
          # min (0-59) hour (0-23) monthday (1-31) month (1-12) weekday (0-6, 0=Sun) - UTC time
##          cron: "10 14 * * *"
##          filters:
##            branches:
##              only: ScheduleRuns
##    jobs:
##      - FHEO-acceptance-test-Dev
