# Circleci config
version: 2.1
jobs:
  Smoke_test:
    docker:
      - image: alpine:3.7
    resource_class: small
    steps:
      - checkout
      - run: 
          name: Run Smoke Test
          command: |
            echo 'Initializing Smoke Tests'
             . smoke_tests/smoke_forms_test
            echo "Smoke Test finished"
workflows:
    test:
      jobs:
      - Smoke_test
  
  
