# Circleci config
version: 2.1
defaults: &defaults
  docker: 
    - image: circleci/node:10.16.3

jobs:
  Deploy: 
    <<: *defaults 
    steps:
      - checkout
      - run:
          name: Update NPM & Install Newman
          command: |
                    "sudo npm install -g npm@5"
                    "sudo npm install -g newman"
                    docker save -o /tmp SmokeTest
      - persist_to_workspace:
          root: .
          paths:
            - "/tmp"
  SmokeTestDev:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
         at: /tmp
      - run:
          name: "checkout and run tests"
          command: |
                    docker load -i /tmp/SmokeTest
                    newman run "formservice/collections/SmokeTest.json" --folder Dev
  SmokeTestTest:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
         at: ~/data
      - run:
          name: "checkout and run tests"
          command: |
                    newman run "formservice/collections/SmokeTest.json" --folder Test
  SmokeTestProd:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
         at: ~/data
      - run:
          name: "checkout and run tests"
          command: |
                    newman run "formservice/collections/SmokeTest.json" --folder Prod

      
workflows:
  main:
    jobs:
    - Deploy
    - SmokeTestDev:
        requires:
          - Deploy
    - SmokeTestTest:
        requires:
          - Deploy
    - SmokeTestProd:
        requires:
          - Deploy
   
##
##  nightly:
##    triggers:
##      - schedule:
          # The cron format is:
          # min (0-59) hour (0-23) monthday (1-31) month (1-12) weekday (0-6, 0=Sun) - UTC time
##          cron: "10 14 * * *"
##          filters:
##            branches:
##              only: ScheduleRuns
##    jobs:
##      - FHEO-acceptance-test-Dev
