# Circleci config
version: 2.1
orbs:
  slack: circleci/slack@3.4.2

defaults:: &defaults
  docker: 
    - image: cimg/node:12.16
  resource_class: small
#aliases:
#  - &InstallNewman
#    name: Install npm and newman
#    command: "sudo npm install -g npm@5"
#    command: "sudo npm install -g newman"   

jobs:
   SmokeTest:
    <<: *defaults
    steps:
      - checkout
#      - add_ssh_keys:
#          fingerprints:
#            - "2d:57:f4:79:ee:d2:d9:3b:8e:96:be:d3:b5:27:f6:c2" 
      - run: "sudo npm install -g npm@5"
      - run: "sudo npm install -g newman" 
      - run: "sudo npm install -g newman-reporter-htmlextra"
    
      - run:
          name: "Run tests"
          command: |
            cd /home/circleci/project/reports
            newman run "/home/circleci/project/collections/SmokeTest.json" -r htmlextra --reporter-htmlextra-logs --reporter-htmlextra-timezone "America/New_York"
         
      - when:
          condition:
              equal: [ main, << pipeline.git.branch >> ]
                  
          steps:
            - slack/status:
                fail_only: true
                failure_message: ':smokeybear::red_circle: Smoke tests failed in environment: '
                include_project_field: false 

      - store_artifacts:
          path: /home/circleci/project/reports/newman

  
   ApiCheck:
      <<: *defaults
      steps:
      - checkout 
      - run: "sudo npm install -g npm@5"
      - run: "sudo npm install -g newman" 
      - run: "sudo npm install -g newman-reporter-htmlextra"
    
      - run:
          name: "Run tests"
          command: |
            cd /home/circleci/project/reports
            newman run "/home/circleci/project/collections/SmokeTest.json" --folder API_Check -r htmlextra --reporter-htmlextra-logs --reporter-htmlextra-timezone "America/New_York"
         
      - when:
          condition:
              equal: [ main, << pipeline.git.branch >> ]
                  
          steps:
            - slack/status:
                fail_only: true
                failure_message: ':smokeybear::red_circle: Sam.gov API Check failed '
                include_project_field: false 
 #           
      - store_artifacts:
          path: /home/circleci/project/reports/newman
    
workflows:
  test:
    jobs:
      - SmokeTest
##
  nightly:
    triggers:
      - schedule:
          # The cron format is:
          # min (0-59) hour (0-23) monthday (1-31) month (1-12) weekday (0-6, 0=Sun) - UTC time
          cron: "00 11 * * *"
          filters:
            branches:
              only: main
    jobs:
      - SmokeTest
  api:
    triggers:
      - schedule:
          # The cron format is:
          # min (0-59) hour (0-23) monthday (1-31) month (1-12) weekday (0-6, 0=Sun) - UTC time
          cron: "05 * * * *"
          filters:
            branches:
              only: main
    jobs:
      - ApiCheck
